<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="EXCLUSIVE"
        gamePrice="R$ 79,99"
        gameType="DIGITAL | PS4"
    ></app-card>
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="DIGITAL PS3"
        gamePrice="R$ 189,99"
        gameType="DISC | PS4 | PS3"
    ></app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 149,99"
        gameType="DISC | PS5"
    ></app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="DIGITAL PS3"
        gamePrice="R$ 189,99"
        gameType="DISC | PS4 | PS3"
    ></app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="DIGITAL PS3"
        gamePrice="R$ 189,99"
        gameType="DISC | PS4 | PS3"
    ></app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="GOTY"
        gamePrice="R$ 249,99"
        gameType="DISC | PS5 | PS4"
    ></app-card>
</div>
